// variables
// colors
// primary
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
// accent
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
// neutral
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);
$font1: "Open Sans";
$font2: "Raleway", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    list-style: none;
    color: white;
  }
  li {
    list-style: none;
  }
}

// this is the navbar
body {
  nav {
    padding: 10px 4rem;
    display: flex;
    justify-content: space-between;

    align-items: center;
    div {
      padding: 10px;
    }
    ul {
      display: flex;
      li {
        list-style-type: none;
        padding: 10px;
        margin: 0px 30px;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            text-decoration: underline;
            color: $desaturated-blue;
          }
        }
      }
    }
  }
  //
  //
  //
  main {
    .first-section {
      padding: 0 4rem;
      margin-top: 50px;
      display: flex;
      .text1 {
        #email {
          width: 300px;
          height: 40px;
          padding: 10px;
          border-radius: 5%;
          margin-right: 10px;
        }
        #like {
          width: 210px;
          height: 40px;
          background-color: $bright-blue;
          color: white;
          border: none;
          font-family: $font2;
          &:hover {
            background-color: hsl(224, 81%, 64%);
          }
        }

        h3 {
          font-size: 2.5rem;
          margin-bottom: 1.2rem;
          font-family: $font2;
          font-weight: 700;
          color: $very-dark-blue;
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 1.2rem;
          font-family: $font1;
          color: $very-dark-blue;
        }
      }
      .img1 {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70%;
        }
      }
    }
  }
}
//
//
//
main {
  .big-curve {
    padding: 0;
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background: url(/images/bg-curve-mobile.svg) no-repeat center center/cover;
  }
  .second-section {
    padding: 0 4rem;
    padding-bottom: 5rem;
    background: $light-grayish-blue;
    display: flex;
    .text2 {
      h3 {
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
        font-family: $font2;
        font-weight: 700;
        color: $very-dark-blue;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-family: $font1;
        color: $very-dark-blue;
      }
      a {
        color: $moderate-cyan;
        text-decoration: underline;
        font-family: $font1;
        margin-bottom: 10px;
      }
      .comment-box {
        margin-top: 1.8rem;
        background: white;
        box-shadow: 10px 10px 50px grey;

        padding: 40px;
        width: 500px;
        height: 350px;
        border-radius: 5%;
        img {
          width: 2rem;
          margin-bottom: 1.2rem;
        }
        p {
          font-size: 1.4rem;
          font-family: $font1;
        }
        .img-holder {
          display: flex;
          flex-direction: row;
          img {
            border-radius: 50%;
            width: 50px;
            margin-right: 1.3rem;
          }
          .text-holder {
            display: flex;
            flex-direction: column;
            .bold {
              margin-bottom: 0;
              font-family: $font2;
              font-weight: 700;
            }
          }
        }
      }
    }
    .img2 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
      }
    }
  }
}
//
//
//
main {
  .third-section {
    padding: 2rem 4rem;
    background-color: $desaturated-blue;
    display: flex;

    .text3 {
      h3 {
        color: white;
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
        font-family: $font2;
        font-weight: 700;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
        color: white;
        font-family: $font1;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      margin-left: 90px;
      padding-left: 100px;

      #email {
        width: 450px;
        height: 40px;
        padding: 10px;
        border-radius: 5%;
        margin-right: 10px;
        display: block;
        margin-bottom: 10px;
      }
      #like {
        width: 210px;
        height: 40px;
        background-color: $bright-blue;
        color: white;
        border: none;
        &:hover {
          background-color: hsl(224, 81%, 64%);
        }
      }
    }
  }
}
//
//
//
main {
  li {
    margin: 10px 10px;
    a {
      font-family: $font1;
      &:hover {
        color: $bright-blue;
      }
    }
  }
  i {
    color: white;
    &:hover {
      color: hsl(224, 81%, 64%);
    }
  }
  .fourth-section {
    padding: 4rem 4rem;
    background-color: $very-dark-blue;
    display: flex;
    flex-direction: column;

    .bottom-img {
      margin-bottom: 10px;
      .invert {
        filter: invert(100%);
        width: 166px;
        height: 49px;
      }
    }

    .list {
      display: flex;
      justify-content: space-between;
      .first-list {
        display: flex;
        flex-direction: column;
        color: white;

        img {
          width: 10px;
          height: 10px;
        }
      }
      .fourth-list {
        display: flex;

        flex-direction: row;
        div {
          i {
            margin: 0px 30px;
            border: white solid 1px;
            border-radius: 50%;
            padding: 20px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
footer {
  background-color: $light-gray;
}
//
//
//
//
//
// media Queries///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: 375px) {
  // this is the navbar
  body {
    nav {
      padding: 10px 2rem;
      width: 375px;
      display: flex;
      justify-content: space-between;

      align-items: center;
      div {
        img {
          width: 50px;
        }
        padding: 10px;
      }
      ul {
        display: flex;
        li {
          list-style-type: none;
          padding: 10px;
          margin: 0px 10px;
          a {
            text-decoration: none;
            color: black;
            font-size: 14px;
            &:hover {
              text-decoration: underline;
              color: $desaturated-blue;
            }
          }
        }
      }
    }
    //
    //
    //
    main {
      .first-section {
        padding: 0 2rem;
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        .text1 {
          #email {
            width: 100%;
            height: 40px;
            padding: 10px;
            border-radius: 5%;
            margin-right: 10px;
            margin-bottom: 20px;
          }
          #like {
            width: 100%;
            height: 40px;
            background-color: $bright-blue;
            color: white;
            border: none;
            font-family: $font2;
            &:hover {
              background-color: hsl(224, 81%, 64%);
            }
          }

          h3 {
            font-size: 1.4rem;
            margin-bottom: 1.2rem;
            font-family: $font2;
            font-weight: 700;
            color: $very-dark-blue;
            text-align: center;
          }
          p {
            font-size: 16px;
            margin-bottom: 1.2rem;
            font-family: $font1;
            color: $very-dark-blue;
            text-align: center;
          }
        }
        .img1 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  //
  //
  //
  main {
    .big-curve {
      padding: 0;
      margin-top: 50px;
      width: 100%;
      height: 50px;
      background: url(/images/bg-curve-mobile.svg) no-repeat center center/cover;
    }
    .second-section {
      padding: 0 2rem;
      padding-bottom: 5rem;
      background: $light-grayish-blue;
      display: flex;
      flex-direction: column-reverse;
      .text2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 1rem;
          margin-top: 50px;
          margin-bottom: 1.2rem;
          font-family: $font2;
          font-weight: 700;
          color: $very-dark-blue;
          text-align: center;
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 10px;
          font-family: $font1;
          color: $very-dark-blue;
        }
        a {
          color: $moderate-cyan;
          text-decoration: underline;
          font-family: $font1;
          margin-bottom: 10px;
          text-align: center;
        }
        .comment-box {
          margin-top: 1.8rem;
          background: white;
          box-shadow: 10px 10px 50px grey;

          padding: 20px;
          width: 300px;
          height: 200px;
          border-radius: 2%;
          img {
            width: 1.5rem;
            margin-bottom: 0;
          }
          p {
            font-size: 12px;
            font-family: $font1;
          }
          .img-holder {
            display: flex;
            flex-direction: row;
            img {
              border-radius: 50%;
              width: 50px;
              margin-right: 1.3rem;
            }
            .text-holder {
              display: flex;
              flex-direction: column;
              margin-top: 10px;
              .bold {
                margin-bottom: 0;
                font-family: $font2;
                font-weight: 700;
              }
            }
          }
        }
      }
      .img2 {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
  }
  //
  //
  //
  main {
    .third-section {
      padding: 2rem 2rem;
      background-color: $desaturated-blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text3 {
        h3 {
          color: white;
          font-size: 1rem;
          text-align: center;
          margin-bottom: 1.2rem;
          font-family: $font2;
          font-weight: 700;
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 1.2rem;
          color: white;
          font-family: $font1;
          text-align: center;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0px;

        #email {
          width: 300px;
          height: 40px;
          padding: 10px;
          border-radius: 5%;
          margin-right: 0px;
          display: block;
          margin-bottom: 10px;
        }
        #like {
          width: 300px;
          height: 40px;
          background-color: $bright-blue;
          color: white;
          border: none;
          &:hover {
            background-color: hsl(224, 81%, 64%);
          }
        }
      }
    }
  }
  //
  //
  //
  main {
    li {
      margin: 10px 10px;
      a {
        font-family: $font1;
        &:hover {
          color: $bright-blue;
        }
      }
    }
    i {
      color: white;
      &:hover {
        color: hsl(224, 81%, 64%);
      }
    }
    .fourth-section {
      padding: 2rem 2rem;
      background-color: $very-dark-blue;
      display: flex;
      flex-direction: column;

      .bottom-img {
        margin-bottom: 10px;
        .invert {
          filter: invert(100%);
          width: 166px;
          height: 49px;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .first-list {
          margin-top: 20px;
          font-size: 18px;
          display: flex;
          flex-direction: column;
          color: white;

          img {
            width: 20px;
            height: 20px;
          }
        }
        .fourth-list {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          flex-direction: row;
          div {
            i {
              margin: 0px 10px;
              border: white solid 1px;
              border-radius: 50%;
              padding: 10px;
              font-size: 1rem;
            }
          }
        }
        .second-list,
        .third-list {
          margin-top: 20px;
        }
      }
    }
  }
  footer {
    background-color: $light-gray;
  }
}
